script(src="/public/javascripts/jquery.js")
<<<<<<< HEAD
script(src="/public/javascripts/bootstrap.min.js")
script(src="/socket.io/socket.io.js")
=======
script(src="/node_modules/bootstrap-browser/dist/js/bootstrap.min.js")
script(src="/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js")
>>>>>>> master
script(src="/public/javascripts/login.js")