script(src="/public/javascripts/jquery.js")
script(src="/public/javascripts/bootstrap.min.js")
script(src="/bower_components/bootstrap-timepicker/js/bootstrap-timepicker.min.js")
script(src="/node_modules/jolira-bootstrap-datepicker/js/bootstrap-datepicker.js")
script(src="/socket.io/socket.io.js")
script(src="/public/javascripts/login.js")
