script(src="/public/javascripts/jquery.js")
script(src="/node_modules/bootstrap-browser/dist/js/bootstrap.min.js")
script(src="/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js")
script(src="/public/javascripts/login.js")