extends index

block jumbotron
	a.logout(href="#" onclick="logout()") Logout
	
	h1 Add Assignment

	div.assignment-title.well
		h3 Assignment Name
		input#assignment-title(type="text" value="Assignment 1" name="assignment-title")
		p#assignment-title-error(style="color:red;")

	div.select-class.well
		h3 Select Course
		select.selectpicker(id="class-picker")

	div.file-upload.well
		input#assignment(type="file" name="assignment" style="visibility:hidden;")
		div.input-append
			h3 Select File
			input#assignmentbox(type="text" name="assignmentbox" readonly)
			a.btn.btn-small(id="browse-btn") Browse
		p#errorbox(style="color:red;")
	
	div.startTime.well
		h3 Release Date:
		div.input-append
			input#releaseDate.bootstrap-datepicker(type="text") 
			span.add-on
				i.glyphicon.glyphicon-calendar
		p#startTime-error(style="color:red;")

	div.endTime.well
		h3 Due Date:
		div.input-append
			input#dueDate.bootstrap-datepicker(type="text")
			span.add-on
				i.glyphicon.glyphicon-calendar
		p#endTime-error(style="color:red;")

	div.submitButton.well
		a#submitBtn.btn.btn-lg.btn-success.cl Create Assignment
		p#submit-error(style="color:red;")

	script(src="/public/javascripts/professor.js")
