extends index

block jumbotron
	link(rel='stylesheet', href='/public/stylesheets/addCourse.css')

	a.logout(href="#" onclick="logout()") Logout
	h1#jumboTitle Add a Course
	
	.txtInput
		label.inputLabel  Course Name: 
		input#courseName(type="text")
		.alert.alert-danger.alert-dismissable#courseNameError Error
			button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
	.txtInput
		label.inputLabel  Course Number: 
		input#courseNum(type="text")
		.alert.alert-danger.alert-dismissable#courseNumError Error
			button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
	.txtInput
		label.inputLabel Section: 
		input#section(type="text")
		.alert.alert-danger.alert-dismissable#sectionError Error
			button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
	
	input#onlineCourse.onlineCheckbox(type="checkbox" value="Online")
	label Online/Distance Education Course
	
	h3 Class Times
	input#M.daysCheckbox(type="checkbox" value="M")
	label M
	input#T.daysCheckbox(type="checkbox" value="T")
	label T
	input#W.daysCheckbox(type="checkbox" value="W")
	label W
	input#R.daysCheckbox(type="checkbox" value="R")
	label R
	input#F.daysCheckbox(type="checkbox" value="F")
	label F
	
	.startTime
		label Start Time:
		.input-append.bootstrap-timepicker
			input#startTime.input-small(type="text")
			span.add-on: i.icon-time
	.endTime
		label End Time:
		.input-append.bootstrap-timepicker
			input#endTime.input-small(type="text")
			span.add-on: i.icon-time
			
		.alert.alert-danger.alert-dismissable#classTimesError Error
			button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
	
	.submit
		input.submitBtn(type="submit" name="Submit")
	
	script(src="/node_modules/jquery-watermark/jquery.watermark.min.js")
	script(src="/public/javascripts/course.js")
	