extends index

block jumbotron
	a.logout(href="#" onclick="logout()") Logout
	
	h2 Add Student to course

	div.select-class
		h3 Select Course
		select.selectpicker(id="class-picker")
		a#selectCourse.btn.btn-lg.btn-success Select Course

	div.select-student
		h3 Select one to many student
		select.selectpicker(id = "student-picker" multiple = "multiple" )

	div.select-button
		a#addStudent.btn.btn-lg.btn-success Add Student(s)
	
	script(src="/public/javascripts/professor.js")
