extends index

block jumbotron
	link(rel='stylesheet', href='/public/stylesheets/addCourse.css')
	a.logout(href="#" onclick="logout()") Logout
	
	h2 Submit Answer

	div.submition_details.well
		h3 Assignment Name
		input#assignment-title(type="text" value="Assignment 1" name="assignment-title")
		p#assignment-title-error(style="color:red;")

		input#assignment(type="file" name="assignment" style="visibility:hidden;")
		div.input-append
			h3 Select File
			input#assignmentbox(type="text" name="assignmentbox" readonly)
			a.btn.btn-small(id="browse-btn") Browse
		p#errorbox(style="color:red;")

	script(src="/public/javascripts/assignments.js")
	script(src="/node_modules/jquery-watermark/jquery.watermark.min.js")

