extends layout

block index_content
	.container
		include includes/navbar

	h1.page-header.centerfy Grades Info

	.progress

	.table-responsive
		table.table.table-striped(id="grade_table")
			thead
				tr
					th Course Number
					th Course Name
					th Course Section
					th Credit Hours
					th Grade
			tbody
	script(src="/public/javascripts/grade.js")
