extends layout

block index_content
	link(rel='stylesheet', href='/bower_components/bootstrap-calendar/css/calendar.css')
	
	.container
		include includes/navbar	
		
	.container-fluid
		.row
			.col-sm-3.col-md-2.sidebar
				ul.nav.nav-sidebar
					| <li class='active' id='homeBtn'><a href="#">Overview</a></li>
					| <li id='gradeBtn'><a href="#">Grades</a></li>
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main		
				h1.page-header
				
				.pull-right.form-inline
					.btn-group
						button.btn.btn-primary(data-calendar-nav="prev") Prev
						button.btn(data-calendar-nav="today") Today
						button.btn.btn-primary(data-calendar-nav="next") Next
				
				h2.calendar-header
				#calendar
				
				div.modal.modal-hide.fade#events-modal
					div.modal-header
						button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
						h3 Event
					div.modal-body(style="height: 400px")
					div.modal-footer
						a.btn(href="#" data-dismiss="modal") Close

				h2.grades-header#grades
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.content
				h3.test
		
	script(src="/bower_components/underscore/underscore.js")
	script(src="/bower_components/bootstrap-calendar/js/calendar.js")
	script(src="/bower_components/chartjs/Chart.js")
	script(src="/public/javascripts/courseHome.js")
