extends layout

block index_content

		.jumbotron
			a.logout(href="#" onclick="logout()") Logout
			h1 Welcome to Y2K!
			p.lead Please choose your role
			p 
				<a id="student-btn" class="btn btn-lg btn-success" href="#" role="button">Student</a>
				<a id="professor-btn" class="btn btn-lg btn-success" href="#" role="button">Professor</a>
				
				.user_details
					h3 User Details
					text Username: <text class="username"></text>
