extends index

block jumbotron
	a.logout(href="#" onclick="logout()") Logout
	h1 Welcome to Y2K!
	p.lead Please choose your role
	p 
		<a id="student-btn" class="btn btn-lg btn-success" href="#" role="button">Student</a>
		<a id="professor-btn" class="btn btn-lg btn-success" href="#" role="button">Professor</a>
		
		.user_details
			h3 User Details
			text Username: <text class="username"></text>

		.button_groups
			<a id="courses-btn" class="btn btn-lg btn-success" href="#" role="button">List Courses</a>
			<a id="add_course-btn" class="btn btn-lg btn-success" href="AddCourse" role="button">Add Course</a>
			<a id="grade-btn" class="btn btn-lg btn-success" href="CheckGrade" role="button">Check Grade</a>
			<a id="add_assignment-btn" class="btn btn-lg btn-success" href="AddAssignment" role="button">Add Assignment</a>
			<a id="add_student-btn" class="btn btn-lg btn-success" href="AddStudent"role="button">Add Student</a>
			<a id="rm_student-btn" class="btn btn-lg btn-success" href="RemoveStudent"role="button">Class List/Remove Student</a>

		.courses_list
			h3 Your Courses
			include templates/course
