extends index

block jumbotron
	a.logout(href="#" onclick="logout()") Logout

	.container
		include includes/navbar

	h1.page-header.centerfy Mark Students

	.table-responsive
		table.table.table-striped(id="assignment_table")
			thead
				tr
					th Student Name
					th Student Number
					th Grade
