extends index

block jumbotron
	a.logout(href="#" onclick="logout()") Logout
	
	h2 Class List

	div.select-class
		select.selectpicker(id="class-picker")
		a#selectStudents.btn.btn-lg.btn-success Select Course

	div.select-student
		h3 Select or more students for removal:
		select.selectpicker(id = "student-picker" multiple = "multiple" )

	div.select-button
		a#removeStudent.btn.btn-lg.btn-success Remove Student(s)
	
	script(src="/public/javascripts/professor.js")
