extends layout

block index_content

	.jumbotron
		h1 Nicolas Richard
		p 7635825
		br
		.container(style='margin: auto; width: 758px')
			table.table.table-hover.text-left
				tr
					td 3430
					td Operating Systems
					td James Young
					td.text-right 1 (3) Messages
				tr
					td 4350
					td Software Engineering
					td Michael Zapp
					td.text-right 0 (14) Messages
			br
			div.row
				div.col-md-4
					button.btn.btn-primary Add Class
				div.col-md-4
					button.btn.btn-primary Other Thing
				div.col-md-4
					button.btn.btn-primary More
