extends index

block jumbotron
	a.logout(href="#" onclick="logout()") Logout

	.container
		include includes/navbar

	h1.page-header.centerfy List of Assignments

	.table-responsive
		table.table.table-striped(id="assignment_table")
			thead
				tr
					th Course ID
					th Assignment ID
					th Assignment name
					th Viewable Date
					th Due Date
			tbody
	script(src="/public/javascripts/assignments.js")