text AssignmentNumber: <text class="assignment_number"></text>
text AssignmentReleaseDate: <text class="assignment_release"></text>
text AssignmentDueDate: <text class="course_section"></text>
button SendAssignment: <button class='btn btn-default btn-lg'> <span class='glyphicon glyphicon-send' /> </button>
button ViewSentAssignment: <button class='btn btn-default btn-lg'> <span class='glyphicon glyphicon-inbox' /> </button>