text CourseNumber: <text class="course_number"></text>
text CourseSection: <text class="course_section"></text>
text CourseName: <text class="course_name"></text>
text ProfessorName: <text class="prof_name"></text>
text ClassTime: <text class="class_time"></text>