.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
.calendar{width:3%; margin:9px 5px 5px;}
.datepickers{width:100%;}
.dateboxes{width:95%;}
#selectStudents, #selectCourse{margin-left: 10px;}
#removeStudent, #addStudent{margin-top: 10px;}
.user_details{margin-bottom: 20px;}
.progress{ margin:20px auto; width:40%;}
.table-responsive{margin: 0px auto; width: 70%;}
