.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
.calendar{width:3%; margin:9px 5px 5px;}
.datepickers{width:100%;}
.dateboxes{width:95%;}
#selectStudents{margin-left: 10px;}
#removeStudent{margin-top: 10px;}
