body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.user_details{
	display: none;
}

.button_groups{
  display: none;
}

.courses_list{
  display:none;
}

a.logout{
	display: none;
	position: absolute;
	right: 0px;
	color: #fff;
	padding: 15px;
	background-color: #222;
}

div.courses_list text{
	display: block;
}

div.courses_list text text{
	display: inline-block;
}

div.courses_list td.courseId {
	display: none;
}

.centerfy img {
  margin: 0 auto;
}

.centerfy {
  text-align: center;
}

div.txtInput {
	display: block;
	text-align: center;
}





